
<!-- <div class="chat">
    <img src="../../../assets/messenger.png" alt="">
   
</div>
<div class="chatContainer">
    
</div> -->

<div class="container">
  <input type="checkbox" id="show">
  <label for="show" class="show-btn">
    <img src="../../../../../assets/messenger.png" alt="message">
  </label>
  <div class="wrapper">
    <div class="chat-info" >
      <img (error)="updateUrl($event)" *ngFor="let user of this.chatService.participators"  [src]="user.userInfo.photoURL" alt="user avatar" class="user-avatar" [matTooltip]="user.userInfo.userName" [matTooltipShowDelay]="500">
    </div>
    <div class="message-container">
      <div *ngFor="let msg of messages" [class]="(msg.from == (this.auth$|async)?.user?.userId) ? 'card' : 'friend'">
        <!-- <p >from:{{msg.from}}</p> -->
        <img *ngIf="(msg.from != (this.auth$|async)?.user?.userId)" [src]="msg.fromURL" alt="" (error)="updateUrl($event)">
        <p>{{msg.msg}}</p>
        <img *ngIf="(msg.from == (this.auth$|async)?.user?.userId)" [src]="msg.fromURL" alt=""(error)="updateUrl($event)">

      </div>
     </div>
    <div class="send-message">
      <input   type="text" [(ngModel)]="newMessage" placeholder="Enter your message">
      <button id="send" (click)="sendMessage(newMessage)">Send</button>
    </div>
  </div>
</div>