<div class="templates-contain">
  <div class="template-top">
    <span class="template-top-start">Start a new sheet</span>
    <div>
      <span class="
      template-top-library">Template library</span>
    
    </div>
  </div>
  <div class="template-bottom">
    <div *ngFor="let a of templates  ; let i = index">
      <p  (click)="startNewFile()" class="background">
        <span  class="create-file">{{a.span}}</span>
        <img *ngIf="i!=0"  class="pic" [src]="a.img">
      </p>
      <p class="title">{{ a.name }}</p>
    </div>
  </div>
</div>
